    <div class="correspondence_text">
        <%  if not attachments.nil? and attachments.size > 0 %>
            <div class="attachments">
                <hr class="top">
                <% attachments.each do |a| %>
                    <p class="attachment">
                        <%
                            attachment_path = get_attachment_path(:id => incoming_message.info_request_id,
                                    :incoming_message_id => incoming_message.id, :part => a.url_part_number,
                                    :file_name => a.display_filename)
                            attachment_as_html_path = get_attachment_as_html_path(:id => incoming_message.info_request_id,
                                    :incoming_message_id => incoming_message.id, :part => a.url_part_number,
                                    :file_name => a.display_filename + '.html')
                        %>
                        <%= link_to image_tag(a.icon_name, :class => "attachment_image", :alt => "Attachment"), attachment_path %>
                        <strong><%= h a.display_filename %></strong>
                        <br>
                        <%= a.display_size %>
                        <%= link_to "Download", attachment_path %>
                        <% if a.has_body_as_html? && incoming_message.info_request.all_can_view? %>
                            <%= link_to "View as HTML", attachment_as_html_path %>
                        <% end %>
                        <!-- (<%= a.content_type %>) -->
                        <%= a.extra_note %>
                    </p>
                <% end %>
                <hr class="bottom">
            </div>
        <% end %>
        <p><%= body %></p>
    </div>
