<% @title = _("Select the authorities to write to")  %>
<h1><%= _('1. Select authorities') %></h1>

<p>
  <%= _("Search for the authorities you'd like information from:") %>
</p>

<div>
  <%= form_tag(select_authorities_path, {:method => 'get'}) do %>
    <%= text_field_tag 'query', params[:query], { :size => 30, :title => "type your search term here" } %>
    <% if !@public_bodies.blank? %>
       <%- @public_bodies.each do |public_body| %>
         <%= hidden_field_tag "public_body_ids[]", public_body.id %>
       <%- end %>
    <% end %>
<% end %>
</div>

<table border="0">
  <tr>
    <td valign="top" align="left" style="width:45%">
      <%= form_tag(select_authorities_path, {:id => "select_form"}) do %>
        <div>
          <%= hidden_field_tag "query", params[:query] %>
          <% if !@public_bodies.blank? %>
            <% @public_bodies.each do |public_body| %>
              <%= hidden_field_tag "public_body_ids[]", public_body.id %>
            <% end %>
          <% end %>
          <select multiple name="public_body_ids[]" style="width: 100%" size="15">
            <% if @search_bodies %>
              <% @search_bodies.results.each do |result| %>
                  <% unless (@public_bodies && @public_bodies.include?(result[:model])) || !result[:model].is_requestable? %>
                  <option value="<%= result[:model].id %>"><%= result[:model].name %></option>
                  <% end %>
              <% end %>
            <% end %>
          </select>
        </div>
    </td>

    <td valign="middle" align="center" style="width:10%; text-align:center">
      <%= submit_tag _(' > ') %>
      <% end %>
      <%= form_tag(select_authorities_path, {:id => "deselect_form"}) do %>
      <%= submit_tag _(' < ') %>
    </td>

    <td valign="top" align="left" style="width:45%;">

      <div>
        <%= hidden_field_tag "query", params[:query] %>
        <% if @public_bodies %>
          <% @public_bodies.each do |public_body| %>
            <%= hidden_field_tag "public_body_ids[]", public_body.id %>
          <% end %>
        <% end %>
        <select multiple name="remove_public_body_ids[]" style="width: 100%" size="15">
          <% if @public_bodies %>
            <% @public_bodies.each do |public_body| %>
                <option value="<%= public_body.id %>"><%= public_body.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <% end %>
    </td>
  </tr>
  <tr>
  <td valign="top" align="left" style="width:45%"></td>
  <td valign="middle" align="center" style="width:10%;"></td>
  <td valign="top" align="left" style="width:45%;">
     <%= form_tag(new_batch_path, {:id => "select_form"}) do %>
        <% if @public_bodies %>
          <% @public_bodies.each do |public_body| %>
            <%= hidden_field_tag "public_body_ids[]", public_body.id %>
          <% end %>
        <% end %>
       <%= submit_tag _('Make a request to these authorities') %>
      <% end %>
  </td>
</table>

