<% @title = _("Select the authority to write to")  %>

  <h1 style="clear: left"><%= _('1. Select an authority') %></h1>

  <div id="authority_selection">
    <%= form_tag({:controller => "request", :action => "select_authority"}, {:id => "search_form", :method => "get"}) do %>
       <div>
           <p>
           <%= _('First, type in the <strong>name of the UK public authority</strong> you\'d
           like information from. <strong>By law, they have to respond</strong>
           (<a href="{{url}}">why?</a>).', :url => (help_about_path + "#whybother_them").html_safe) %>
           </p>
           <%= text_field_tag 'query', params[:query], { :size => 30, :title => "type your search term here" } %>
           <%= hidden_field_tag 'bodies', 1 %>
           <%= submit_tag _('Search') %>
       </div>
    <% end %>

    <div id="typeahead_response">
      <%= render :partial => 'public_body/search_ahead' %>
    </div>
  </div>

  <div id="authority_preview">
  </div>

