<% @title = _("{{title}} - a Freedom of Information request to {{public_body}}",
                :title => h(@info_request.title),
                :public_body => (@info_request.public_body.name)) %>

<% if @info_request.prominence == 'hidden' %>
    <p id="hidden_request">
    <%= _('This request has prominence \'hidden\'. You can only see it because you are logged
    in as a super user.') %>
    </p>
<% end %>
<% if @info_request.prominence == 'requester_only' %>
    <p id="hidden_request">
    <%= _('This request is hidden, so that only you the requester can see it. Please
    <a href="{{url}}">contact us</a> if you are not sure why.', :url => help_requesting_path.html_safe) %>
    </p>
<% end %>


<% if ( @update_status || @info_request.awaiting_description ) && ! @info_request.is_external? %>
    <div class="describe_state_form" id="describe_state_form_1">
    <%= render :partial => 'describe_state', :locals => { :id_suffix => "1" } %>
    </div>
<% end %>

<div id="left_column">
    <h1><%=h(@info_request.title)%></h1>

    <% if !@info_request.is_external? && @info_request.user.profile_photo && !@render_to_file %>
        <p class="user_photo_on_request">
            <img src="<%= get_profile_photo_url(:url_name => @info_request.user.url_name) %>" alt="">
        </p>
    <% end %>

    <p class="subtitle">
        <% if !@user.nil? && @user.admin_page_links? %>
            <%= _('{{user}} ({{user_admin_link}}) made this {{law_used_full}} request (<a href="{{request_admin_url}}">admin</a>) to {{public_body_link}} (<a href="{{public_body_admin_url}}">admin</a>)',
                    :user => @info_request.is_external? ? (@info_request.user_name || _('An anonymous user')) : user_link(@info_request.user),
                    :law_used_full => h(@info_request.law_used_full),
                    :user_admin_link => user_admin_link_for_request(@info_request, _('external'), _('admin')),
                    :request_admin_url => admin_request_show_url(@info_request),
                    :public_body_link => public_body_link(@info_request.public_body),
                    :public_body_admin_url => admin_body_show_url(@info_request.public_body)) %>
        <% else %>
            <%= _('{{user}} made this {{law_used_full}} request',:user=>@info_request.is_external? ? (@info_request.user_name || _('An anonymous user')) : user_link(@info_request.user), :law_used_full=>h(@info_request.law_used_full)) %>
            <%= _('to {{public_body}}',:public_body=>public_body_link(@info_request.public_body)) %>
        <% end %>
    </p>
    <p id="request_status" class="request_icon_line icon_<%= @info_request.calculate_status %>">
      <%= render :partial => 'status' %>
    </p>

    <% for info_request_event in @info_request_events %>
        <% if info_request_event.visible %>
            <%= render :partial => 'correspondence', :locals => { :info_request_event => info_request_event } %>
        <% end %>
    <% end %>

    <% if @info_request.awaiting_description && ! @info_request.is_external? %>
        <div class="describe_state_form" id="describe_state_form_2">
        <%= render :partial => 'describe_state', :locals => { :id_suffix => "2" } %>
        </div>
    <% end %>

    <%= render :partial => 'after_actions' %>
</div>

<%- if @sidebar %><%= render :partial => 'sidebar' %><% end %>
