<% if @incoming_message.nil? %>
  <% @title = _("Send follow up to '{{title}}'", :title => h(@info_request.title)) %>
<% elsif @incoming_message.recently_arrived %>
  <% @title = _("New response to '{{title}}'", :title => h(@info_request.title)) %>
<% else %>
  <% @title = _("Response to '{{title}}'", :title => h(@info_request.title)) %>
<% end %>

<%= foi_error_messages_for :incoming_message, :outgoing_message %>
<% if @gone_postal %>
  <%= render :partial => 'gone_postal_help' %>
<% end %>

<div id="show_response_view">
    <% if !@incoming_message.nil? %>
        <% if @is_owning_user %>
            <% if @incoming_message.recently_arrived %>
                <h2><%= _('New response to your request') %> '<%= request_link @info_request %>'</h2>
            <% else %>
                <h2><%= _('Response to your request') %>  '<%= request_link @info_request %>'</h2>
            <% end %>
        <% else %>
            <% if @incoming_message.recently_arrived %>
    <h2><%= _('New response to {{law_used_short}} request',:law_used_short => h(@info_request.law_used_short))%> '<%= request_link @info_request %>'</h2>
            <% else %>
                <h2>Response to <%=h(@info_request.law_used_short)%> request '<%= request_link @info_request %>'</h2>
            <% end %>
        <% end %>

        <% if @incoming_message.nil? %>
            <%= render :partial => 'correspondence', :locals => { :info_request_event => @info_request.get_last_outgoing_event } %>
        <% else %>
            <%= render :partial => 'correspondence', :locals => { :info_request_event => @incoming_message.response_event } %>
        <% end %>
    <% end %>

    <%= render :partial => 'followup', :locals => { :incoming_message => @incoming_message } %>
</div>

