<div class="authority-details">
	<h3><%= public_body.name %></h3>
    <p>
    <% if !public_body.short_name.empty? || !public_body.notes_without_html.empty? %>
        <% if !public_body.short_name.empty? %>
            <%= _("Also called {{other_name}}.", :other_name => public_body.short_name) %>
        <% end %>
        <% if !public_body.notes_without_html.empty? %>
            <%= highlight_and_excerpt(public_body.notes_without_html, [], 150) %>
        <% end %>
    <% end %>
	</p>
</div>
<div class="authority-request_count">
    <%= n_('<strong>{{count}}</strong> request made.',
           '<strong>{{count}}</strong> requests made.',
           public_body.info_requests.size,
           :count => public_body.info_requests.size) %>
</div>
<div class="authority-make_request">
    <%= link_to _("Make a request to this authority"), new_request_to_body_path(:url_name => public_body.url_name) %>
</div>
